.messages {
  overflow: auto;
  flex: auto;
}

.messageBox {
  background: #f3f3f3;
  padding: 8px 10px;
  display: inline-block;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 4px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  padding: 0 8px;
  margin-top: 4px;
}

.messageContainer2 {
  display: flex;
  padding: 0 8px;
  margin-top: 4px;
  justify-content: flex-end;
}

.sentText {
  font-size: 10px;
  /* font-family: Helvetica; */
  color: white;
  background-color: #af52bf;
  padding: 0px 6px;
  border-radius: 0px 12px 12px 0px;
  letter-spacing: 0.3px;
  text-align: start;
}

.backgroundGreen {
  text-align: left;
  background: #9c27b0;
  border-radius: 0px 12px 12px 12px;
  color: white;
}

.backgroundLight {
  text-align: right;
  background: #f3f3f3;
  border-radius: 12px 12px 0px 12px;
}
